<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Soporte Técnico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Sección de formulario -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Formulario de Soporte</ion-title>
    </ion-toolbar>
  </ion-header>
  <section id="formulario" class="contenido" style="text-align: center;">
    <h2>Contacto</h2>
    <p>Si tienes alguna pregunta, por favor envíanos un correo electrónico a:</p>
    
    <!-- Dirección de correo centrada -->
    <p>
      <a href="mailto:xxx&#64;outlook.com" 
         style="font-size: 18px; font-weight: bold; color: #0078d4;">
         martinez.palomo&#64;outlook.com
      </a>
    </p>
    
    <!-- Icono de sobre de correo centrado -->
    <ion-icon name="mail-outline" style="font-size: 50px; display: block; margin: 20px auto; color: #0078d4;"></ion-icon>
  </section>
  

  <!-- Sección de FAQ -->
  <section id="faq" class="contenido">
    <h2>Preguntas Frecuentes (FAQ)</h2>
    <div *ngFor="let item of faqItems" class="faq-item">
      <ion-item (click)="toggleFAQ(item)">
        <ion-label>
          <h3>{{ item.pregunta }}</h3>
        </ion-label>
      </ion-item>
      <ion-item *ngIf="item.mostrarRespuesta">
        <ion-label>{{ item.respuesta }}</ion-label>
      </ion-item>
    </div>
  </section>
</ion-content>