<ion-header >
  <ion-toolbar>
    <ion-title>Privacidad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Política de Privacidad</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <h2>Política de Privacidad de Pinakas Futsal Pad</h2>
    <p>Tu privacidad es muy importante para Kyklos Tychaios. Para garantizar que comprendas cómo recopilamos, usamos, divulgamos y hacemos uso de la información personal, hemos desarrollado esta política de privacidad. Esta política puede ser actualizada periódicamente, y en caso de modificaciones, se mostrará en esta página.</p>

    <h3>Resumen</h3>
    <ul>
      <li>Puedes descargar Pinakas Futsal Pad sin compartir información personal con nosotros.</li>
      <li>Pinakas Futsal Pad podría necesitar acceder a algunas funciones de tu dispositivo y te pedirá permiso para hacerlo.</li>
      <li>Solo recopilamos datos estadísticos anónimos de uso para mejorar la experiencia.</li>
      <li>Si realizas compras dentro de la aplicación, el proveedor de comercio electrónico maneja tu información personal y la mantiene segura.</li>
      <li>Si tienes preguntas o inquietudes, contáctanos en kiklos.tychaios&#64;gmail.com.</li>
    </ul>

    <h3>Compromiso con la Privacidad</h3>
    <p>En Kyklos Tychaios, nos comprometemos a proteger tu privacidad. Pinakas Futsal Pad no recopila ni utiliza información personal identificable. Los usuarios pueden descargar y usar la aplicación sin necesidad de compartir datos personales.</p>

    <h3>Protección de Menores de 13 Años</h3>
    <p>Es importante destacar que no recopilamos, almacenamos ni usamos información personal de niños menores de 13 años. Si creemos que hemos recopilado información personal de un menor, tomaremos medidas inmediatas para eliminar dicha información.</p>
    <p>Si eres un padre o tutor y crees que hemos recopilado información de tu hijo, por favor contáctanos de inmediato. En caso de que tu aplicación esté dirigida a niños, cumplimos con las leyes y regulaciones sobre la recopilación de datos de menores de edad, como la Ley de Protección de la Privacidad de Menores en Internet (COPPA) de EE. UU. y el Reglamento General de Protección de Datos (GDPR) de la UE.</p>

    <h3>Acceso a Funciones del Dispositivo</h3>
    <p>Pinakas Futsal Pad puede necesitar acceso a ciertas funciones de tu dispositivo, como la cámara, el micrófono o los datos de ubicación, pero solo se accederá a estos con el permiso del usuario. La aplicación solicitará acceso a estas funciones cuando sea necesario, y siempre podrás modificar esta configuración desde la administración de aplicaciones de tu dispositivo.</p>

    <h3>Recopilación de Datos y Uso</h3>
    <p>En Pinakas Futsal Pad, recopilamos solo datos estadísticos anónimos para mejorar el funcionamiento de la aplicación. Esto incluye datos sobre el uso de la aplicación, como las interacciones del usuario, para analizar tendencias y mejorar la experiencia.</p>
    <p>No recopilamos información personal identificable de los usuarios. Si la aplicación permite realizar compras dentro de la aplicación, el proveedor de comercio electrónico manejará y protegerá esa información personal.</p>

    <h3>Cumplimiento Legal</h3>
    <p>Nos aseguramos de que la aplicación cumpla con todas las leyes y regulaciones relacionadas con la protección de la privacidad y la recopilación de datos personales, incluyendo la Ley de Protección de la Privacidad de Menores en Internet (COPPA) y el Reglamento General de Protección de Datos (GDPR).</p>

    <h3>Funciones Sociales</h3>
    <p>Pinakas Futsal Pad no tiene funciones sociales que permitan compartir contenido o interactuar con otros usuarios, lo que significa que no permite el intercambio de información personal. Si en el futuro se agregan funciones sociales, estas serán gestionadas de manera que se requiera intervención de un adulto para garantizar la seguridad en línea de los menores.</p>

    <h3>Realidad Aumentada (RA)</h3>
    <p>Pinakas Futsal Pad no incorpora funciones de Realidad Aumentada. Si en el futuro se agregan características de este tipo, se proporcionará una advertencia de seguridad antes de que los usuarios interactúen con esta tecnología.</p>
    <h3>Sin Anuncios</h3>
    <p>Pinakas Futsal Pad no contiene anuncios, ya que el acceso a la aplicación está condicionado a un pago inicial. Por lo tanto, no se recopilará ni utilizará la ID de publicidad de tu dispositivo para personalizar anuncios.</p>

    <h3>Contacto y Soporte</h3>
    <p>Si tienes preguntas, necesitas soporte, o deseas brindarnos comentarios, puedes ponerte en contacto con nosotros directamente a través de nuestros canales oficiales: kiklos.tychaios&#64;gmail.com.</p>

    <h3>Actualizaciones de la Política</h3>
    <p>Si realizamos actualizaciones o modificaciones en esta política de privacidad, estas se reflejarán en esta página para asegurarnos de que siempre estés al tanto de cómo estamos protegiendo tu información.</p>
  </ion-text>
</ion-content>
